{% import '@ControlPanel/macro/transition.twig' as transition %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    {% css 'bundles/rock/tailwind.css' %}

    <div class="dropdown-menu" id="user-nav" data-controller="braunstetter--control-panel-bundle--menu">

        <button type="button"
                id="menu-button"
                data-braunstetter--control-panel-bundle--menu-target="opener"
                aria-expanded="false" aria-haspopup="true" aria-label="{{ 'My user account'|trans }}"
                title="{{ 'My user account'|trans }}">

            <span class="user-picture">
                {{ source('@ControlPanel/images/male_avatar.svg') }}
            </span>

            {{ source('@ControlPanel/images/caret_down.svg') }}
        </button>

        <div role="menu"
             aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
             data-braunstetter--control-panel-bundle--menu-target="content" {{ transition.fadeInOut() }}>

            <div id="user-info">
                {{ app.user.userIdentifier }}
            </div>

            {% for entry in menu_result('user_menu') %}
                {% set path = entry.routeParameters ? path(entry.routeName, entry.routeParameters) : path(entry.routeName) %}

                <a href="{{ path }}" role="menuitem"
                   tabindex="-1" id="{{ "user-menu-item-#{loop.index}" }}">

                    {% if icon is defined %}
                        {{ source(icon) }}
                    {% endif %}

                    <span>{{ entry.label }}</span>
                </a>

            {% endfor %}
        </div>
    </div>
{% endif %}