{% extends '@Rock/layouts/base.html.twig' %}

{% use '@Rock/cp/cp_blocks.html.twig' %}

{% block title %}Hello SiteeeeController!{% endblock %}


{% block container %}

    <div id="global-container">

        <header id="global-sidebar">

            {% block logo_desktop %}
                <logo>
                    {{ block('cp_logo') }}
                </logo>
            {% endblock %}

            <section>
                {% block cp_sidebar %}
                    {{ hook('rock.cp.sidebar') }}
                {% endblock %}
            </section>

        </header>

        <div id="page-container">
            <div id="global-header">

                <button id="nav-toggle" data-action="braunstetter--rock--toggle#toggle">
                    <span class="sr-only">{{ 'Open sidebar'|trans }}</span>

                    {{ source('@Rock/images/burger.svg') }}
                </button>

                {{ hook('rock.cp.global-header') }}

            </div>

            <main id="main-container">
                <div id="header-container">
                    <header id="header">
                        <h1>Dashboard</h1>
                    </header>
                </div>

                <div id="main-content">
                    <div id="content-container">
                        <div id="content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
